---
import { site } from '../../data/site';
---

<footer class="bg-cimak-black text-cimak-white">
  <div class="container-cimak py-8 text-sm">
    <p>© {new Date().getFullYear()} {site.name}</p>
  </div>
</footer>
