---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/home/Hero.astro';
import PromoBanners from '../components/home/PromoBanners.astro';
import CategoryGrid from '../components/home/CategoryGrid.astro';
---

<Layout title="CIMAK Perú">
	<main>
		<Hero />
		<PromoBanners />
		<CategoryGrid />
	</main>
</Layout>
